@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
$base-color: rgb(47, 110, 245);

body{
    font-family: 'Ubuntu', sans-serif;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
    border-color: $base-color;
}

.form-check-input:checked {
    background-color: $base-color;
    border-color: $base-color;
}

.form-control {
    border-radius: 4px !important;
    padding: 13px 15px;
}

.primary-btn {
    width: 100%;
    border-radius: 4px;
    background-color: $base-color;
    color: white;
    padding: 10px 24px;
}

.card {
    border: 0.1px solid rgb(209, 209, 209);
    border-radius: 4px;
}

a {
    text-decoration: none;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
    }
}
