.navbar{
    .text-muted{
        font-size: 16px;
    }
    b{
        font-weight: bolder;
        color: black;
        font-size: 24px;
    }
}

.list-group {
    a{
        color: black;
        font-weight: 600;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}