@import "../../assets/css/base";

.login {
    .title-group {
        border: none !important;
        .brand-name {
            color: $base-color;
            font-weight: 800;
            font-size: 72px;
        }

        .text {
            font-weight: bold;
            font-size: 25px;
        }
    }

    @media only screen and (min-width: 768px) {
        margin-top: 3rem;
    }
    .container {
        max-width: 500px;
    }
    .card {
        padding: 2rem;
    }
    .login-form {
        background-color: rgb(249, 252, 255);
    }
}

.additional-links {
    max-width: 500px;
    a {
        color: black;
    }
}
